nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
}

nav a {
    text-decoration: none;
    font-weight: 500;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-icon {
    margin-right: 8px;
}

.datagrid-container {
    height: 70vh;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.wide {
    max-width: 1200px;
}

.wrap-cell {
    white-space: normal !important;
    word-wrap: break-word;
    line-height: 1.5;
    padding: 12px 8px !important;
}

.stats-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    max-Height: 70vh;
    aspect-ratio: 1.618;
}

.home-container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}